.fives-sct {
    padding-top: 177px;
    padding-bottom: 90px;
}

.fives-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.fives-card {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(41, 45, 51, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 20px 32px 20px;
}

.fives-card h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    gap: 5px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #002B4E;
}

.fives-card p {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.72px;
    color: #292D33;
    margin-top: 30px;
}